In [1]:
import numpy as np
import pandas as pd 
import FinanceDataReader as fdr
import yfinance as yf

In [2]:
df = yf.download('AAPL', start='2010-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496295,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404015,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392175,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800
...,...,...,...,...,...,...
2023-06-27,185.889999,188.389999,185.669998,188.059998,188.059998,50730800
2023-06-28,187.929993,189.899994,187.600006,189.250000,189.250000,51216800
2023-06-29,189.080002,190.070007,188.940002,189.589996,189.589996,46347300
2023-06-30,191.630005,194.479996,191.259995,193.970001,193.970001,85069600
2023-07-03,193.779999,193.880005,191.759995,192.460007,192.460007,31458200

In [4]:
df['price'] = df.Open.shift(-1)

In [5]:
def ma_calc(n):
    """ 
    """
    df['sma'] = df.Close.rolling(n).mean()

In [6]:
ma_calc(10)

In [7]:
df

,Open,High,Low,Close,Adj Close,Volume,price,sma
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496295,493729600,7.664286,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800,7.656429,NaN
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404015,552160000,7.562500,NaN
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392175,477131200,7.510714,NaN
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800,7.600000,NaN
...,...,...,...,...,...,...,...,...
2023-06-27,185.889999,188.389999,185.669998,188.059998,188.059998,50730800,187.929993,185.416998
2023-06-28,187.929993,189.899994,187.600006,189.250000,189.250000,51216800,189.080002,186.010999
2023-06-29,189.080002,190.070007,188.940002,189.589996,189.589996,46347300,191.630005,186.574998
2023-06-30,191.630005,194.479996,191.259995,193.970001,193.970001,85069600,193.779999,187.370999
2023-07-03,193.779999,193.880005,191.759995,192.460007,192.460007,31458200,NaN,188.125000

In [9]:
def backtest(df, n):
    
    ma_calc(n)
    
    in_position=False
    
    profits = []
    
    for index, row in df.iterrows():
        if not in_position:
            if row.Close > row.sma:
                buyprice = row.price
                in_position = True

        if in_position:
            if row.Close < row.sma:
                profit = (row.price - buyprice) / buyprice 
                profits.append(profit)
                in_position = False 
    
    gain = (pd.Series(profits) + 1).prod()
    return gain

In [10]:
backtest(df, 10)

8.49797409138016

In [12]:
(df.Close.pct_change() + 1).prod()

25.18050665974927

In [15]:
df

,Open,High,Low,Close,Adj Close,Volume,price,sma
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496295,493729600,7.664286,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507526,601904800,7.656429,NaN
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404015,552160000,7.562500,NaN
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392175,477131200,7.510714,NaN
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800,7.600000,NaN
...,...,...,...,...,...,...,...,...
2023-06-27,185.889999,188.389999,185.669998,188.059998,188.059998,50730800,187.929993,185.416998
2023-06-28,187.929993,189.899994,187.600006,189.250000,189.250000,51216800,189.080002,186.010999
2023-06-29,189.080002,190.070007,188.940002,189.589996,189.589996,46347300,191.630005,186.574998
2023-06-30,191.630005,194.479996,191.259995,193.970001,193.970001,85069600,193.779999,187.370999
2023-07-03,193.779999,193.880005,191.759995,192.460007,192.460007,31458200,NaN,188.125000

In [16]:
192.460007 / 7.643214

25.180507440979667

In [17]:
backtest(df, 20)

14.995741028558363

In [18]:
np.arange(10, 205, 5)

array([ 10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,  70,
        75,  80,  85,  90,  95, 100, 105, 110, 115, 120, 125, 130, 135,
       140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200])

In [19]:
for n in np.arange(10, 205, 5):
    print('parameter: ' + str(n)) 
    print(backtest(df, n))

parameter: 10
8.49797409138016
parameter: 15
8.394032951563158
parameter: 20
14.995741028558363
parameter: 25
12.481029267585223
parameter: 30
8.823688568287938
parameter: 35
7.455385163763488
parameter: 40
7.973858273486889
parameter: 45
4.9391290080854215
parameter: 50
7.509142100258755
parameter: 55
6.475326740966538
parameter: 60
6.470466041403682
parameter: 65
6.714675774681963
parameter: 70
5.044996746542134
parameter: 75
4.778689138099906
parameter: 80
4.154083023460525
parameter: 85
4.877996420417991
parameter: 90
4.885941125527226
parameter: 95
4.958006458896084
parameter: 100
5.383057100766451
parameter: 105
6.147145669883576
parameter: 110
6.88379862485197
parameter: 115
7.408339727154173
parameter: 120
7.5867348217958135
parameter: 125
7.9200663108102
parameter: 130
8.579106878053913
parameter: 135
8.431212072468384
parameter: 140
9.668396779562073
parameter: 145
10.897552129340816
parameter: 150
13.062413594815556
parameter: 155
14.351360286565388
parameter: 160
14.165229205261253
parameter: 165
16.00186004202332
parameter: 170
14.103372192352227
parameter: 175
12.94594322888185
parameter: 180
12.505901306692296
parameter: 185
13.008235571973374
parameter: 190
13.327258773449365
parameter: 195
11.018739919063714
parameter: 200
10.390721381445335

### Two Parameter Optimization

In [20]:
def ma_calc(n,m):
    df['sma_1'] = df.Close.rolling(n).mean()
    df['sma_2'] = df.Close.rolling(m).mean()

In [21]:
def backtest(df, n, m):
    
    ma_calc(n, m)
    
    in_position=False
    
    profits = []
    
    for index, row in df.iterrows():
        if not in_position:
            if row.sma_1 > row.sma_2:
                buyprice = row.price
                in_position = True

        if in_position:
            if row.sma_1 < row.sma_2:
                profit = (row.price - buyprice) / buyprice 
                profits.append(profit)
                in_position = False 
    
    gain = (pd.Series(profits) + 1).prod()
    return gain

In [22]:
backtest(df, 10, 20)

13.294913912511301

In [24]:
x = pd.DataFrame(np.arange(10, 205, 5))
y = pd.DataFrame(np.arange(10, 205, 5))
final = pd.merge(x, y, how='cross')

In [26]:
final.columns = ['sma_1', 'sma_2']

In [29]:
final = final[final['sma_1'] != final['sma_2']]

In [32]:
for n, m in final.values:
    print('parameter: ' + str(n) , str(m))
    print(backtest(df, n, m))

parameter: 1015
9.390708149991294
parameter: 1020
13.294913912511301
parameter: 1025
11.456467507382229
parameter: 1030
7.800004515052756
parameter: 1035
6.47973272751901
parameter: 1040
6.146568785017371
parameter: 1045
8.3614446541086
parameter: 1050
8.177738480796055
parameter: 1055
9.364736970063854
parameter: 1060
8.706619348673351
parameter: 1065
7.3813876083138945
parameter: 1070
6.936508356681007
parameter: 1075
6.418154862606926
parameter: 1080
7.119273333926747
parameter: 1085
5.903624191697343
parameter: 1090
6.335468981549376
parameter: 1095
7.1196246669110455
parameter: 10100
5.486700793047304
parameter: 10105
5.599956841160224
parameter: 10110
5.536055467388434
parameter: 10115
5.603771548776334
parameter: 10120
5.527331161237472
parameter: 10125
7.055251831172838
parameter: 10130
6.685496600454142
parameter: 10135
8.019495604554745
parameter: 10140
9.044710542561841
parameter: 10145
9.64958540188714
parameter: 10150
9.28294653682721
parameter: 10155
9.599802371693075
parameter: 10160
9.602267689314402
parameter: 10165
9.913041715126418
parameter: 10170
9.758692238973943
parameter: 10175
13.037593212622106
parameter: 10180
11.101574113530617
parameter: 10185
10.066791706278863
parameter: 10190
10.877634414051002
parameter: 10195
11.792792753842205
parameter: 10200
11.451971180726712
parameter: 1510
2.561963959771876
parameter: 1520
12.677544408756422
parameter: 1525
11.196446004398469
parameter: 1530
13.238186071789023
parameter: 1535
9.292058125780095
parameter: 1540
10.13424418740502
parameter: 1545
8.75355358696766
parameter: 1550
7.633212637272775
parameter: 1555
7.357664810358694
parameter: 1560
6.515476077507082
parameter: 1565
5.810299488663082
parameter: 1570
5.350587395514641
parameter: 1575
4.929734994622165
parameter: 1580
5.182392829294341
parameter: 1585
5.194098859998814
parameter: 1590
4.632148415719988
parameter: 1595
5.518118504906311
parameter: 15100
5.02020841461182
parameter: 15105
5.69335285497125
parameter: 15110
6.2416281926408
parameter: 15115
5.027121676678345
parameter: 15120
6.08217016131293
parameter: 15125
8.252404528858575
parameter: 15130
8.130466058922469
parameter: 15135
8.529408809836971
parameter: 15140
7.854901028054216
parameter: 15145
9.807272263159506
parameter: 15150
12.424618742566476
parameter: 15155
12.336218676119469
parameter: 15160
11.03002126668346
parameter: 15165
10.826866125695169
parameter: 15170
10.906356496910425
parameter: 15175
10.01939871112032
parameter: 15180
8.718428274934293
parameter: 15185
9.096135208476618
parameter: 15190
9.93626155887621
parameter: 15195
10.605954018097375
parameter: 15200
9.667771508571548
parameter: 2010
1.63574794065701
parameter: 2015
1.748211885603233
parameter: 2025
9.830946468740335
parameter: 2030
9.056142856642253
parameter: 2035
6.244976067731137
parameter: 2040
7.389645883307743
parameter: 2045
7.650927975930473
parameter: 2050
6.804556695577135
parameter: 2055
7.965486723003407
parameter: 2060
6.2508843815585
parameter: 2065
4.829544657331035
parameter: 2070
4.599307453875949
parameter: 2075
4.3765005158226185
parameter: 2080
4.331953679447028
parameter: 2085
4.896623558387924
parameter: 2090
4.455023504149144
parameter: 2095
5.454180931674736
parameter: 20100
5.89988336978839
parameter: 20105
6.56974589589967
parameter: 20110
5.95805962665377
parameter: 20115
6.259264878019905
parameter: 20120
6.274898939198146
parameter: 20125
6.851911426823582
parameter: 20130
7.49063764569783
parameter: 20135
7.908727887405503
parameter: 20140
8.961034974454988
parameter: 20145
9.055084011855914
parameter: 20150
9.693680693451801
parameter: 20155
9.683551348221467
parameter: 20160
9.823164803653748
parameter: 20165
9.508551665906262
parameter: 20170
7.9171684440319865
parameter: 20175
9.140300549306062
parameter: 20180
8.260762707615743
parameter: 20185
8.000200510603804
parameter: 20190
9.565480445231286
parameter: 20195
9.141882562350805
parameter: 20200
10.009200426488876
parameter: 2510
1.893311684966032
parameter: 2515
2.002977638645165
parameter: 2520
2.3035177414192107
parameter: 2530
9.028281684323865
parameter: 2535
7.349256720444275
parameter: 2540
4.679785111159164
parameter: 2545
5.857847333317495
parameter: 2550
4.825172753401401
parameter: 2555
5.533235079223498
parameter: 2560
3.608477319649631
parameter: 2565
3.2979636843776734
parameter: 2570
3.971660751858824
parameter: 2575
3.5579077218622874
parameter: 2580
4.122517626158312
parameter: 2585
4.741591057295324
parameter: 2590
4.528492229054503
parameter: 2595
4.862136876508813
parameter: 25100
4.217167203842373
parameter: 25105
5.1026987202279255
parameter: 25110
5.252167011658048
parameter: 25115
4.945725718997284
parameter: 25120
5.984395346705735
parameter: 25125
6.386624659484341
parameter: 25130
5.9211216618092894
parameter: 25135
6.527191046937039
parameter: 25140
6.751327300309495
parameter: 25145
6.881133360761668
parameter: 25150
7.076069239737654
parameter: 25155
7.332726343091512
parameter: 25160
8.033046756965359
parameter: 25165
9.89614440378023
parameter: 25170
9.990866540072876
parameter: 25175
10.840790593564002
parameter: 25180
11.209536670310698
parameter: 25185
11.61613089022097
parameter: 25190
12.285377424038783
parameter: 25195
11.37254384961608
parameter: 25200
11.347348135037167
parameter: 3010
2.6750334499956034
parameter: 3015
1.6295925777305902
parameter: 3020
2.405441814959406
parameter: 3025
2.420611095763759
parameter: 3035
6.269033171856366
parameter: 3040
7.601338177182155
parameter: 3045
5.130312191315153
parameter: 3050
4.713341347370577
parameter: 3055
3.2109349818546584
parameter: 3060
3.372068449968766
parameter: 3065
3.717527457522486
parameter: 3070
4.393572167402262
parameter: 3075
3.7818545427240253
parameter: 3080
4.446823337134881
parameter: 3085
4.564594501212289
parameter: 3090
4.301223568695536
parameter: 3095
4.786242259690243
parameter: 30100
5.1498733292982735
parameter: 30105
4.48640889378157
parameter: 30110
5.104226387630332
parameter: 30115
4.642512878830727
parameter: 30120
5.006290433105173
parameter: 30125
5.741276628046101
parameter: 30130
5.713486017219929
parameter: 30135
6.026517290340814
parameter: 30140
5.931641289614116
parameter: 30145
6.33030349106999
parameter: 30150
6.861461178931501
parameter: 30155
8.704707148944175
parameter: 30160
9.555339976457926
parameter: 30165
9.80426498643396
parameter: 30170
11.952709342603402
parameter: 30175
10.902498139916874
parameter: 30180
10.477691336412086
parameter: 30185
11.71206994733202
parameter: 30190
11.964926057830624
parameter: 30195